[Unit]
Description="HashiCorp Consul - Envoy Mesh Gateway"
Documentation=https://www.consul.io/
Wants=consul.service
After=network-online.target consul.service
StartLimitIntervalSec=480
StartLimitBurst=20

[Service]
Type=simple
User=envoy
Group=envoy
EnvironmentFile=-/etc/consul.d/consul.env
EnvironmentFile=-/etc/consul.d/services/mesh.env
ExecStart=/usr/local/bin/consul connect envoy -gateway mesh -expose-servers -register -service "mesh-gateway-${NODE}" -address='{{ GetInterfaceIP "ens5" }}:${PORT}' -wan-address='{{ GetInterfaceIP "ens5" }}:${PORT}' -grpc-addr="https://127.0.0.1:8503" -admin-bind="127.0.0.1:19000"  -- --log-level trace --log-path /var/log/envoy/mesh-gateway.log --component-log-level upstream:trace,http:trace,router:trace,config:trace
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=60
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target