[Unit]
Description=Consul Terminating Gateway
After=network.target consul.service
Requires=consul.service
StartLimitIntervalSec=480
StartLimitBurst=20

[Service]
Type=simple
EnvironmentFile=-/etc/consul.d/consul.env
ExecStart=/usr/local/bin/consul connect envoy -gateway=terminating -register -service terminating-gateway -address '{{ GetInterfaceIP "ens5" }}:9443' -admin-bind 127.0.0.1:19008 -- -l debug
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target

